<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss">

<main class="page page--home">
    <div class="page__hero hero">
        <div class="hero__container">
            <div class="hero__image">
                <img src="@img/arik-hero.png" alt="Hero Image">
            </div>
            <section data-fls-blockgeader class="blockgeader">
                    <h2 class="blockgeader__title">Web Designer<span class="blockgeader__title-italic">& Developer</span></h2>
                    <div class="blockgeader__text">
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                        <p>Premium web design, development, and SEO services to help your business stand out.</p>
                    </div>
            </section>
        </div>
    </div>