# dependencies
node_modules/

# build / dist
dist/
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# environment variables
.env
.env.local
.env.*.local

# IDE / editors
.vscode/
.idea/

# test / coverage
coverage/

# puppeteer / playwright
**/.local-chromium/
**/chromium/
**/playwright/

# cache
.cache/
.tmp/
