//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
.button {
	text-transform: uppercase;
	font-family: "Satoshi", sans-serif;
	font-size: 13px;
	line-height: 21px;
	letter-spacing: 1.5px;
	display: inline-flex;
	padding: 10px 16px;
	align-items: center;
	justify-content: center;
	border: 1px solid $mainColorMuted;
	border-radius: 2px;
	background-color: $mainColorVeryMuted;
	transition: all 0.5s ease;
	@media (any-hover: hover) {
		&:hover {
			background-color: $mainColor;
			color: $darkColor;
		}
		&:active {
			scale: 0.9;
		}
	}
	&--lite{
		background-color: $mainColor;
		color: $darkColor;
		&:hover {
			background-color: $darkColor;
			color: $mainColor;
		}
	}
	&--arrow{
		flex-direction: row-reverse;
		gap: 12px;
	}

	&--text{
		padding: 0;
		background-color: transparent;
		border: none;
		color: $mainColor;
		column-gap: 12px;
		font-size: 13px;
		line-height: 21px;
		&::before{
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: $mainColorMuted;
			border: 1px solid $mainColor;
			text-align: center;
			align-content: center;
			transition: all 0.3s ease-in;

			}
		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
				color: $mainColor;
				&::before{
					background-color: $mainColor;
					color: $darkColor;
				}	
			}
		}
	}
	&--fw {
		width: 100%;
	}
}
